/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

html {
	zoom: normal;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--color-button:#ffce00;
	--color-button-hover: #ff9808;
	--header: #06300A;
}

:focus {
	border: #2e9839;
	border-radius: 2px;
	padding: 0.2em;
}


/*hamburger menu*/
h1 {
	margin: 0;
    font-size: medium;
}

header{
	justify-content: space-between;
	padding: 0 2em;
	position: sticky;
	background-color: var(--header);
	display: flex;
	top: 0;
	z-index: 2;
}

header li a {
	color: white;
	font-family:'Speedee Bold';
	font-size: medium;
}



header > button {
  background: none;
  border: none;
  margin-right: -2em;
  position: relative;
  margin: 0;
  padding: 0;
}

header > button:nth-of-type(2) {
	display: none;
}

@media (min-width:1040px) {
  header > button {
	display: none;
}
}

  
nav {
	padding: 1em;
	background-image: none;
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

  
  nav ul {
    gap: 1em;
    display: flex;
  }
  
  nav a {
    display: flex;
    align-items: center;
    border: none;
  }

  li {
	list-style-type: none;
    font-size: larger;
  }

/*einde hamburger menu*/

body {
	font-family: 'Speedee Bold';
}

header a{
	text-decoration: none;
	
}

header nav {
	display: flex;
	gap: 3em;
	text-decoration: none;
	left: auto;
	bottom: 40em;
	transition: 1s;
}

header nav button{
	translate: 0 -200%;
	position: absolute;
}

@media (max-width: 60em) {
	header nav {
		translate: 0% -170%;
		width: 100%;
	}
}
.toonMenu {
	translate: 0% 0%;
	background-color: var(--header);
	bottom: 0;
	flex-direction: column;
    width: 100%;
    align-items: center;
	justify-content: center;
}

.toonMenu li {
	list-style-type: none;
    border-bottom: dashed;
	border-bottom-width: 0.2em;
    border-color: white;
    border-width: 0.1em;
}

.toonMenu button {
	background-color: var(--header);
	right: 0;
	top: 0;	
	translate: 0;
}



header a img{
	width: 3em;
	margin: 0 -1.5em;
	position: relative;
	z-index: 1;
}

header img:nth-child(2) {
	width: 1em;
}

header nav img{
	width: 2.53em;
	margin: 0.1em 0;
	margin-bottom: 1em;
}




section {
margin: 1em;
transition: 2s;
}

@media (min-width: 60em){
	section {
		margin: 1.5em 10em;
		margin-bottom: 0;
		transition: 2s;
	}
}

/*grid afbeeldingen met tekst*/
section:nth-of-type(2) {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, fr); 
  	gap: 0em 6em;
	max-width: 100%;
	margin-top: 0;
} /*Grid Garden. (n.d.). Een Spel Om CSS Grid Te Leren. https://cssgridgarden.com/#nl*/

@media (max-width: 60em){
	section:nth-of-type(2) {
		display: flex;
		flex-wrap: wrap;
	}
}

  section:nth-of-type(2) article {
	border: none;
	background: white;
	margin: 1.2em 0;
  }
  
section:nth-of-type(2) img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
  }

section:nth-of-type(3) {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  position: relative;
  gap: 1.2em;
  }

  section:nth-of-type(3) {
	padding-bottom: 3em;
  }

  section:nth-of-type(3) button {
  	position: absolute;
    bottom: 0;
  } /* Positioning a Button on the Bottom of a Div. (z.d.). | SheCodes. https://www.shecodes.io/athena/4505-positioning-a-button-on-the-bottom-of-a-div*/
  
@media (max-width: 60em){
	section:nth-of-type(3) {
		display: flex;
		flex-wrap: wrap;
	}
}

  section:nth-of-type(3) article {
	border: none;
	background: white;
	margin: 1.2em 0;
  }
  
section:nth-of-type(3) img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
  }

/*Einde flexbox afbeeldingen met tekst*/


  

  

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
img {
	width: 2em;
	margin: 0;
}

/*Wit vlak met tekst*/

section:nth-of-type(1) img{
	width: -webkit-fill-available;
	justify-content: center;
}

section:nth-of-type(1) article{
	border: solid 0.1em rgb(222, 222, 222);
	padding: 0;
	border-radius: 1em;
}

@media (min-width: 1024px){
	section:nth-of-type(1) article{
	position: relative;
	z-index: 1;
	background-color: white;
	width: 25em;
	left: 1em;
	bottom: 20em;
	padding: 1em;
	border-radius: 1em;
	margin-bottom: -17em;
}
}
/* */

h2 {
	font-weight: 100;
	padding: 0 0.6em;
	margin: 0;
	font-size: x-large;
}

h3 {
	padding: 0 0.6em;
	margin: 0.5em 0;
	font-size: x-large;
}

p {
	font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
	padding: 0 1em;
	font-weight: lighter;
	text-align: left;
}

@font-face {
    font-family: 'McDonalds Helvetica Black';
    font-style: normal;
    font-weight: lighter;
    src: local('McDonalds Helvetica Black'), url('McDonalds_Helvetica.woff') format('woff'); /* McDonalds Helvetica Font | Font.Download. (n.d.). https://font.download/font/mcdonalds-helvetica*/
    }


@font-face {
	font-family: "Speedee Bold";
	src: url("https://db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.eot");
	src: url("https://db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.eot?#iefix")format("embedded-opentype"),
	url("https://db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.woff2")format("woff2"),
	url("https://db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.woff")format("woff"),
	url("https://db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.ttf")format("truetype"),
	url("https://db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.svg#Speedee Bold")format("svg");
} /*Icons made from <a href="https://www.onlinewebfonts.com/icon">svg icons</a>is licensed by CC BY 4.0*/

	/*Dafont. (2024, March 15). McDonald’s Font. Dafont Free. https://www.dafontfree.io/mcdonalds-font/*/
button  {
	margin: 1em;
	background-color: var(--color-button);
	border: none;
	padding: 1em;
	border-radius: 0.2em;
	cursor: pointer;
}

body {
	margin: 0;
}

@media (min-width: 1024px){
	header li{
	border: none;
	}
}

@media (max-width: 963px){
	section:nth-of-type(3) button {
	position: relative;

	}
}



@keyframes button-animation {

  0%{
    scale:1;
  }
  
  50%{
    scale:1.2;
    
  }
  100%{
    scale:1;
  }
}

article button:hover {
	animation-name: button-animation;
	animation-duration: 2s;
}

article button:hover  {
	background-color: var(--color-button-hover)
}

header a:hover {
	color: var(--color-button);
}

::selection{
	background-color: #ffce00;
	color: white;
}


/*pagina 2 */

@media (min-width: 1024px) {
.pagina-2 section:nth-of-type(1) article {
	margin: 0;
	position: static;
	width: 100%;
	border: none;
	padding: 0;

}
}

.pagina-2 section:nth-of-type(1) article {
    border: none;
}

.pagina-2 h1 {
	text-align: center;
	font-size: 3em;
	margin: 1em 0;
}





.pagina-2 article p {
	padding: 0;
}

.pagina-2 h2 {
	text-align: center;
	font-size: xxx-large;
}

.pagina-2 section:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    max-width: 100%;
    margin-top: 0;
	position: relative;
}

@media (max-width: 60em) {
    .pagina-2 section:nth-of-type(2) {
        display: flex;
        flex-wrap: wrap;
    }
}

.pagina-2 h2:nth-of-type(2) {
	text-align: center;
	margin: 0;
	font-size: xx-large;
}

.pagina-2 section:nth-of-type(2) article {
	border: solid 0.1em rgb(222, 222, 222);
    border-radius: 1em;
}

.pagina-2 section:nth-of-type(3)  {
	grid-template-columns: none;
}

.pagina-2 section:nth-of-type(3) article {
	margin: 0;
}







.pagina-2 section:nth-of-type(4) {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /*Equal width columns in CSS Grid. (n.d.). Stack Overflow. https://stackoverflow.com/questions/47601564/equal-width-columns-in-css-grid*/
    position: relative;
}

.pagina-2 section:nth-of-type(4) article {
    border: none;
    background: white;
    margin: 1.2em 0;
	width: 100%;
	border: solid 0.1em rgb(222, 222, 222);
    border-radius: 1em;
}

.pagina-2 :nth-of-type(4) img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.pagina-2 section:nth-of-type(4) button {
    position: absolute;
    bottom: 0;
}

.pagina-2 section:nth-of-type(4) p {
	margin: 1em;
}

@media (max-width: 60em) {
	.pagina-2 section:nth-of-type(4) {
		 display: flex;
		 flex-wrap: wrap;
	 }
 }

 @media (min-width: 60em) {
    .pagina-2 section:nth-of-type(4) {
        margin: 1.5em 10em;
        margin-bottom: 0;
        transition: 2s;
		gap: 1.2em
    }
}

@media (max-width: 963px) {
    .pagina-2 section:nth-of-type(4) button {
        position: relative;
    }
}

@media (min-width: 60em) {
.pagina-2 section:nth-of-type(4) button {
    position: absolute;
    bottom: 4em;
	}
}

@media (min-width: 60em) {
	.pagina-2 section:nth-of-type(4) article {
		padding-bottom: 5em;
		}
	}

	
.pagina-2 section:nth-of-type(5){
	display: grid;
    grid-template-columns: 1fr 1fr;
}

.pagina-2 section:nth-of-type(5) img {
	width: 100%;
}

.pagina-2 section:nth-of-type(5) p {
	margin: 1em;
	
}

@media (max-width: 60em) {
.pagina-2 section:nth-of-type(5) {
	display: flex;
	flex-wrap: wrap;
}
}

/*Footer */
hr {
	width: 90%;
	margin-bottom: 1em;
    margin-top: 2em;
}

footer section:nth-of-type(1) p {
	font-weight: bold;
	}

footer section:nth-of-type(2) p {
	padding: 0;
}

@media (min-width: 60em) {
	footer section:nth-of-type(1) {
display: flex;
justify-content: space-evenly;
flex-direction: row;
}
}

@media (max-width: 60em) {
    footer section:nth-of-type(1) {
		display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 60em) {
	footer section:nth-of-type(2) {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}
}


footer section:nth-of-type(2) img {
	width: 3em;
}

    footer section:nth-of-type(2) {
		gap: 10px;
        float: left;
		margin-left: 0;
    }

