/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

html {
	zoom: normal;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--color-button:#ffce00;
	--color-button-hover: #ff9808;
	--header: #06300A;
}

:focus {
	border: #2e9839;
	border-radius: 2px;
	padding: 0.2em;
}

/*hamburger menu*/
h1 {
	margin: 0;
    font-size: medium;
}

header{
	justify-content: space-between;
	padding: 0 2em;
	position: sticky;
	background-color: var(--header);
	display: flex;
	top: 0;
	z-index: 2;
}

header li a {
	color: white;
	font-family:'Speedee Bold';
	font-size: medium;
}



header > button {
  order:0;
  background: none;
  border: none;
  margin-right: -2em;
  z-index: 2;
  position: relative;
}

header > button:nth-of-type(2) {
	display: none;
}

@media (min-width:1040px) {
  header > button {
	display: none;
}
}

  
nav {
	position: static;
	translate: unset;
	padding: 1em;
	background-image: none;
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

  
  nav ul {
    gap: 1em;
    display: flex;
  }
  
  nav a {
    display: flex;
    align-items: center;
    border: none;
  }

  li {
	list-style-type: none;
    border-bottom: dashed;
	border-bottom-width: 0.2em;
    border-color: white;
    border-width: 0.1em;
    font-size: larger;
  }

/*einde hamburger menu*/


header a{
	text-decoration: none;
	
}

header nav {
	display: flex;
	gap: 3em;
	text-decoration: none;
	left: auto;
	bottom: 40em;
}

@media (max-width: 65em) {
	header nav {
		translate: -200% 0%;
	}
}
.toonMenu {
	translate: 0% 0%;
	background-color: var(--header);
    top: 3em;
	bottom: 0;
	flex-direction: column;
    width: 100%;
    align-items: center;

}

header a img{
	width: 3em;
	margin: 0 -1.5em
}

header img:nth-child(2) {
	width: 1em;
}

header nav img{
	width: 22px;
	margin: 0.1em 0;
	margin-bottom: 1em;

}


header nav button{
	background-color: var(--header);
	text-decoration: none;
	border: none;
	margin-top: 12px;
}

section {
margin: 1em;
}

/*grid afbeeldingen met tekst*/
section:nth-of-type(2) {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto); 
  	gap: 1em;
	max-width: 100%;
} /*Grid Garden. (n.d.). Een Spel Om CSS Grid Te Leren. https://cssgridgarden.com/#nl*/

@media (max-width: 60em){
section:nth-of-type(2) {
	display: flex;
	flex-wrap: wrap;
}
}

  section:nth-of-type(2) article {
	border: none;
	background: white;
	margin: 1.9em 0.6em;
	padding: 0 0.4em;

  }
  
section:nth-of-type(2) img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
  }

    section:nth-of-type(3) {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(15em, 1fr));
  gap: 1em;
  position: relative;
  }

  section:nth-of-type(3) button {
  	position: absolute;
    bottom: 0;
  } /* Positioning a Button on the Bottom of a Div. (z.d.). | SheCodes. https://www.shecodes.io/athena/4505-positioning-a-button-on-the-bottom-of-a-div*/
  
@media (max-width: 60em){
	section:nth-of-type(3) {
		display: flex;
		flex-wrap: wrap;
	}
	}

  section:nth-of-type(3) article {
	border: none;
	background: white;
	margin: 3em 0.6em;
	padding: 0 0.4em;

  }
  
section:nth-of-type(3) img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
  }

/*Einde flexbox afbeeldingen met tekst*/


  

  

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
img {
	width: 2em;
	margin: 0;
}

section:nth-of-type(1) img{
	width: -webkit-fill-available;
	justify-content: center;
}

h2 {
	font-family: 'McDonalds Helvetica Black' ;
	font-weight: 100;
	padding: 0 0.6em;
	margin: 0;
}

h3 {
	font-family: 'McDonalds Helvetica Black' ;
	padding: 0 0.9em;
	margin: 0.5em 0;
}

p {
	font-family: 'Speedee Bold',Arial, Helvetica, sans-serif ;
	padding: 0 1em;
	font-weight: lighter;
	text-align: left;
}

@font-face {
    font-family: 'McDonalds Helvetica Black';
    font-style: normal;
    font-weight: lighter;
    src: local('McDonalds Helvetica Black'), url('McDonalds_Helvetica.woff') format('woff'); /* McDonalds Helvetica Font | Font.Download. (n.d.). https://font.download/font/mcdonalds-helvetica*/
    }


@font-face {
	font-family: "Speedee Bold";
	src: url("https://db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.eot");
	src: url("https://db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.eot?#iefix")format("embedded-opentype"),
	url("https://db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.woff2")format("woff2"),
	url("https://db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.woff")format("woff"),
	url("https://db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.ttf")format("truetype"),
	url("https://db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.svg#Speedee Bold")format("svg");
} /*Icons made from <a href="https://www.onlinewebfonts.com/icon">svg icons</a>is licensed by CC BY 4.0*/

	/*Dafont. (2024, March 15). McDonald’s Font. Dafont Free. https://www.dafontfree.io/mcdonalds-font/*/
a button  {
	margin: 1em;
	background-color: var(--color-button);
	border: none;
	padding: 1em;
	border-radius: 0.2em;
}

body {
	margin: 0;
}

section:nth-of-type(1) article{
	border: solid 0.1em rgb(222, 222, 222);
	padding: 0;
}

@media (min-width: 1024px){
	section:nth-of-type(1) article{
	position: relative;
	z-index: 1;
	background-color: white;
	width: 25em;
	left: 1em;
	bottom: 20em;
	padding: 1em;
	border-radius: 1em;
	margin-bottom: -17em;
}
}






button {
	cursor: pointer;
}


@keyframes button-animation {

  0%{
    scale:1;
  }
  
  50%{
    scale:1.2;
    
  }
  100%{
    scale:1;
  }
}

article button:hover {
	animation-name: button-animation;
	animation-duration: 2s;
}

article button:hover  {
	background-color: var(--color-button-hover)
}

header a:hover {
	color: var(--color-button);
}

::selection{
	background-color: #ffce00;
	color: white;
}


/*pagina 2 */

pagina-2 {

}